.app {
  display: flex;
}

.content {
  flex-grow: 1;
  margin-left: 240px;
  overflow: auto;
}

.content.overview-view {
  margin-right: 240px;
}

body.light-theme .header__section__logo__img {
  color: var(--theme-color-light);
}

body.dark-theme .header__section__logo__img {
  color: var(--theme-color-dark);
}
